@model Whisper.Models.CommunityViewModel;

<body>
    <section class="bootstrap-select">
        <div class="row" id="mainRow">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"></h4>
                    </div>

                    <input hidden id="id" value="" type="text" class="form-control" style="border-left:2px solid orange;margin-right:15px;">

                    <div class="row" style="padding: 5px; padding-left: 30px;">
                        <label style="font-size: 16px; font-weight: bold;">Name</label>
                        <input id="name" value="" type="text" class="form-control" style="border-left:2px solid orange;margin-right:15px;">
                    </div>

                    <div class="row" style="padding: 5px; padding-left: 30px;">
                        <label style="font-size: 16px; font-weight: bold;">Description</label>
                        <textarea id="description" value="" type="text" class="form-control" style="border-left:2px solid orange;margin-right:15px; width:95%; resize: vertical;" oninput="autoResize(this)">
                        </textarea>
                    </div>
                    
                </div>
            </div>

            <div style="padding-left: 30px;">
                <p class="add btn btn-primary">Create</p>
            </div>
            

    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add').click(function () {

            var id = $('#id').val();
            var name = $('#name').val();
            var description = $('#description').val();

            var community = {
                _id: id,
                Name: name,
                Description: description
            };
            $.ajax({
                url: '/Community/Add',
                type: 'POST', // or 'GET' depending on your server-side implementation
                data: { community: community }, // Include the stack object in the data property
                success: function (response) {
                    // Handle the response from the server
                    console.log("x" + response.message);
                    window.location.replace("index");
                },
                error: function (xhr, status, error) {
                    // Handle any errors that occur during the AJAX request
                    console.log("y" + error);
                }
            });
        });
    });

    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }
</script>